
.card-title {
    margin: 0;
}

.object-fit-cover {  
    background-size: cover;
    background-position: center center;  
    object-fit: cover;
}

.list-group {
    flex-direction: row !important;
}

.list-group-item:first-child {
    border-bottom-left-radius: inherit !important;
}

a{ 
    color: #020202; text-decoration: none; display: block;
    &:hover {color: #020202; cursor: pointer;}

}


